################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application/TournamentDistributionHexa.Presentation.Angular/ClientApp/.angular/cache/14.1.3
